*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #ff1b43;
    background-image: linear-gradient(0deg, #ff1b45b9 0%, #dbecec 100%);
}
main{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title{
    color: #ff2551;
    text-shadow: 0 0 3px black;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5%;
}

.set-long-break{
    width: 80%;
    height: 50vh;
    background-color: #00000057;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.445);
}

.second-title{
    margin-top: 5%;
    margin-bottom: 5%;
    color: rgb(226, 226, 226);
    font-size: 1.8em;
    text-align: center;
}
.set-paragraph{
    font-size: 1.2em;
    color: rgb(226, 226, 226);
    padding: 10px;
    text-align: center;
}
.break-minutes{
    margin-top: 5%;
    height: 10%;
    margin-bottom: 5%;
    border: 0;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.39);
    text-align: center;
    font-size: 1.5em;
    width: 50%;
    color: white;
}

.start-button{
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.164);
    border-radius: 20px;
    border: 0;
    height: 10%;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.151);
    color: white;
    font-weight: 800;
    font-size: 0.8em;
    transition: 0.25s linear;
}

.explaining-paragraph{
    font-size: 1em;
    color: rgb(226, 226, 226);
    padding: 10px;
    text-align: center;
}
.start-button:hover {
    transform: scale(1.2);
}

.start-button:active{
    transform: scale(1);
}
.cont-clock{
    position: absolute;
    margin-top: 5%;
    width: 80%;
    height: 50vh;
    transform: scale(0);
    background-color: #00000057;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.445);
}
.estudio{
    font-size: 1.8em;
    color: rgb(226, 226, 226);
    padding: 10px;
    text-align: center;
}
.global-clock{
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.164);
    border-radius: 20px;
    border: 0;
    height: 10%;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.151);
    color: white;
    font-weight: 800;
    font-size: 2em;
    text-align: center;
}
.pomodoro_p{
    font-size: 1.8em;
    color: rgb(226, 226, 226);
    padding: 10px;
    text-align: center;
}
.pomodoro-clock{
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.164);
    border-radius: 20px;
    border: 0;
    height: 10%;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.151);
    color: white;
    font-weight: 800;
    font-size: 2em;
    text-align: center;
}

.cont-button{
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: space-around;
}
.recess-time{
    text-align: center;
    scale: 0;
    font-size: 5rem;
}
.stop-button{
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.164);
    border-radius: 20px;
    border: 0;
    height: 10%;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.151);
    color: white;
    font-weight: 800;
    font-size: 1.2em;
    transition: 0.25s linear;
    margin-top: 15%;
}
.stop-button:hover {
    transform: scale(1.2);
}

.stop-button:active{
    transform: scale(1);
}
.back-dark{
    position: absolute;
    transform: scale(0);
    z-index: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.678);
}
.container-return{
    z-index: 1;
    border-radius: 20px;
    position: absolute;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.164);
    color: white;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.308);
    text-align: center;
    height: 20vh;
    width: 60vw;
    transform: scale(0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.return-button{
    width: 13%;
    background-color: transparent;
    border: none;
    margin-top: 10%;
}
.aparecer-container-return{
    transform: scale(1);
    transition-duration: 0.5s;
}
.desaparece{
    transform: scale(0);
    transition-duration: 0.5s;
}
.aparecer-black{
    transform: scale(1);
}